.Home {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProductList {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}